.appContDiv {
    width: 100%;
    height: 100%;
    display: block;
    font-family: wlm-idea, sans-serif;
}

/*@media (max-width: 767px) {
    .row1ContDiv {
        width: 100%;
        height: 440px;
        background-color: yellow;
        border: dotted 2px black;
    }
    .row1BodyDiv {
        width: 100%;
        height: 385px;
        background-color: purple;
        border: solid 2px black;
    }
}

*/

.row1ContDiv {
    width: 100%;
    height: 485px;
    background-color: white;
    position: relative;
}

.row1BodyDiv {
    width: 100%;
    height: 430px;
    background: url("https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg")
        no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    color: white;
    /*border: 2px dotted blue;*/
}

.row1HeaderDiv {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    background-color: white;
    color: #777;
    font-size: 1.4em;
    padding: 12px 0px 12px 10%;
}

.headerMenuButton {
    position: absolute;
    right: 10%;
    top: 2%;
    color: #777;
    transition: 0.15s;
}

.cleanBlogText {
    font-size: 4.3em;
    position: absolute;
    top: 44%;
    transform: translate(-50%, 0%);
}

.aBlogThemeText {
    font-family: roboto, sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    position: absolute;
    top: 62.5%;
    transform: translate(-50%, 0%);
}

.row2BlogEntryContainer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    left: 20%;
    width: 60%;
    /*width here instead of in.row2BlogEntryComponent*/
}

.row2BlogEntryComponent {
    /*width: 60%;*/
    box-sizing: border-box;
}

.entryNameDiv {
    font-size: 2.4em;
    font-family: wlm-idea, sans-serif;
    box-sizing: border-box;
    margin-top: 20px;
}

.entryNameDiv:hover {
    color: #0085a1;
    transition: 0.15s;
}

.entrySubtitleDiv {
    font-size: 2.2em;
    font-family: roboto, sans-serif;
    font-weight: 100;
    margin-top: 10px;
}

.entrySubtitleDiv:hover {
    color: #0085a1;
    transition: 0.15s;
}

.entryByDiv {
    font-size: 1em;
    font-family: "Fjord One", serif;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.row2AuthorName {
    color: black;
    text-decoration: underline;
}

.row2AuthorName:hover {
    color: #0085a1;
    transition: 0.15s;
}

.row2Button {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    position: relative;
    margin-left: 80%;
    color: white;
    background-color: #868e96;
}

.row2Button:hover {
    color: white;
    background-color: #727b84;
    transition: 0.15s;
}

.row3FooterDiv {
    border-top: 1px solid lightgray;
    text-align: center;
}

.blackCircles {
    position: relative;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 50;
    background-color: #333;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 55px;
    margin-bottom: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

.blackCircles:hover {
    background-color: #0085a1;
    transition: 0.15s;
}

.icons {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.copyrightText {
    color: #777;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 65px;
    font-family: Fjord One, serif;
}

@font-face {
    font-family: "wlm-idea";
    src: url(./assets/wlm-idea-fonts/wlm-idea-regular.ttf) format("truetype");
}
