.rowHeader {
    background: url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: cover;
    height: 310px;
    background-repeat: no-repeat;
}


/*
@media screen and (max-width: 767px) {
    .headerLogoImg {
        height: 50px;
        margin-top:1vh;
    }
    .headerRow {
        background: url(http://www.csszengarden.com/214/huntington.jpg);
        background-size: cover;
        height: 310px;
        background-repeat: no-repeat;
    }
    
    .headerCSSZen {
        font-family: Julius Sans One, sans-serif;
        color: #ffffff;
        font-size: 3em;
        height: 40px;
        margin-top: 16vh;
    }

    .headerBeautyOf {
        font-family: Libre Baskerville, sans-serif;
        font-style: italic;
        font-size: 1.5em;
        text-align: left;
        color: #A1BDBA;
        margin-top: .5vh;
    }
    
    .button {
        background-color: rgba(39, 105, 105, 0.5);
        opacity: .4;
        height: 50px;
        background-repeat:no-repeat;
        overflow: hidden;
        margin-top: 20vh;
        font-family: Julius Sans One, sans-serif;
        color: rgba(176, 198, 198, 1.0);
    }
}
*/

.whtRow1 {
    background-color: #ffffff;
    line-height: 22px;
    padding-top: 10px;
}

.headText {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.9em;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    padding-left: 4%;
    padding-right: 4%;
/*
    padding-top: 4%;
    padding-bottom: 4%;
*/
}

.treeRow {
    background:url(http://www.csszengarden.com/214/bamboo.png);
    background-color: #acd3bd;
    line-height: 22px;
    padding-top: 10px;
}

.whtRow2 {
    background-color: #ffffff;
    line-height: 22px;
    padding-top: 10px;
}

.koiRow {
    background:url(http://www.csszengarden.com/214/koi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

.koiRowBodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    color: #99AEAA;
    text-align: center;
    padding-top: 9%;
}

.koiRowLink {
    font-style: normal;
    color: #CCD7D6;
}

.logoRow {
    background-color: #124C51;
    height: 125px;
}

.logoRowText {
    font-family: verdemoderna;
    text-align: center;
    font-size: 5em;
    padding-top: 2vh;
    color: #94ABAD;
}

.letterLink:hover {
    text-transform: uppercase
}

.numLink:hover {
    border-radius: 25px;
    transition: .25s;
    color: #11565B;
    background-color: #9EB4B6;
    text-shadow: shadow;
/*    text-transform: uppercase*/
}



/*
.numLink5:hover:before {
    content:"%"
}
*/

/* COLUMN STYLING*/

ul {
    list-style-type: none;
}

li {
    padding: 15px;
    border-bottom: 1px #AAC1B6 solid;
}

.oliveColAll {
    background-color: #E8EFEB;
}

.oliveCol1 {
/*    height: 100%;*/
    vertical-align: middle;
/*    padding: 14px;*/
}

.themeLinks {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.3em;
    color: #616857;
}

.nameLinks {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    color: #616857;
}

.by {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    font-style: italic;
    color: #C7D0CB;
}

.oliveCol2Text {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.3em;
    color: #616857;
}


@font-face {
    font-family: "verdemoderna";
    src: url(assets/verdemoderna.woff) format('woff');
}