body {
    background-color: #111111;
}

h1 {
    color: #e2e80f;
    text-align: center;
    font-size: 36px;
}

p {
    color: #eeeeee;
    font-size: 18px;
    line-height: 30px;
}

span.credits {
    text-decoration: underline;
    color: #49daff;
}

span.credits:hover {
    cursor: pointer;
}

#film-description {
    font-size: 14px;
    font-style: italic;
}