* {
    font-size: 0px;
    display: inline-block
}

.box {
    position: absolute;
    box-sizing: border-box;
    background-color: #F91000;
}

.redCorners {
    width: 220px;
    height: 120px;
}

.top {
    top: 0px;
}

.bottom {
    bottom: 0px;
}

.left {
    left: 0px;
}

.right {
    right: 0px;
}

.redHorizMid {
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%);
}

.redHorizTop {
    top:0px;
}

.redHorizBottom {
    bottom:0px;
}

.redVertMid {
    width: 160px;
    height: 60px;
    top: 50%;
    transform: translate(0%, -50%);
}

.flag {
/*    border: solid black 1px;*/
    position: relative;
    height: 300px;
    width: 500px;
    
}