body {
    background-color: whitesmoke;
}

div {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.headerText {
    text-align: center;
    color: #00708C;
}

.containerDiv {
    position: relative;
}

.mappedLocationListDiv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
}