.link-wrapper {
    display: flex;
    justify-content: space-between;

    margin: auto;
    background-color: #fff;

    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.link-text {
    color: gray;
}

.link-text:hover {
    color: rgba(128, 128, 128, 0.7);
    text-decoration: none;
}

.logo-img {
    width: auto;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3vh;
}

.switch-wrapper {
    margin: auto;
    width: 85%;
    background-color: gray;
}
