.container-fluid {
    background-color: red;
}

.space {
    box-sizing: border-box;
    border: 1px dotted blue;
}

.navBar {
    text-align: center;
    font-family: muli;
    background-color: white;
}

.navBar > a {
    margin-left: 20px;
    margin-right: 20px;    
}

.headerRow {
    padding-top: 8%;
}

.headerText {
    text-align: center;
    font-size: 3.5em;
    font-family: Josefin Sans;
    background-color: white;
}

.bodyRow {
    padding-top: 8%;
}

.heading {
    font-family: muli;
    background-color: white;
}

.bodyText {
    font-family: Josefin Sans;
}