.link-wrapper {
    display: flex;
    justify-content: space-between;

    margin: auto;
    background-color: #fff;

    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.logo-img {
    width: auto;
    height: 15vh;
    max-height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3vh;
}

.link-text {
    color: gray;
}

.link-text:hover {
    color: rgba(128, 128, 128, 0.7);
    text-decoration: none;
}

.link a:hover {
    text-decoration: none;
}

.galleryTitle {
    font-size: 1.5em;
}

.switch-wrapper {
    margin: auto;
    padding: 0px;
}

.galleryImage {
    max-width: 100%;
}
