.space {
    border: 2px dotted blue;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

.rowHeader {
    background: url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: cover;
    height: 310px;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .paddingMgmt {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    }
    
    .overflowMgmt {
        overflow: hidden;
    }
    
    .img-responsive {
        text-align: center;
        padding-top: 8vh;
    }

    .headerText {
        padding-top: 10vh;
        right: 41px;
        text-align: center;
    }

    .headerCSSZenGarden {
        text-align: center;
        font-family: Julius Sans One, sans-serif;
        color: #ffffff;
        font-size: 3em;
    }

    .headerBeautyOfCSSDesign {
        text-align: center;
        font-family: Libre Baskerville, sans-serif;
        font-style: italic;
        font-size: 1.5em;
        color: #A1BDBA;
        right: 134px;
    }

    .headerBtns {
        background-color: rgba(39, 105, 105, 0.5);
        height: 50px;
        font-family: Julius Sans One, sans-serif;
        color: rgba(176, 198, 198, 1.0);
        margin-top: 12vh;
    }
    
    .headerBtn1 {
        width: 100%;
        padding-left: 42px;
        padding-right: 42px;
    }

    .headerBtn2 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*BREAK*/

@media (max-width: 991px) {
    .img-responsive {
        text-align: center;
        padding-top: 3vh;
    }

    .headerText {
        padding-top: 1vh;
        text-align: center;
    }

    .headerCSSZenGarden {
        font-family: Julius Sans One, sans-serif;
        color: #ffffff;
        font-size: 3em;
    }

    .headerBeautyOfCSSDesign {
        font-family: Libre Baskerville, sans-serif;
        font-style: italic;
        font-size: 1.5em;
        color: #A1BDBA;
        right: 134px;
    }

    .headerBtns {
        background-color: rgba(39, 105, 105, 0.5);
        height: 50px;
        font-family: Julius Sans One, sans-serif;
        color: rgba(176, 198, 198, 1.0);
        margin-top: 1vh;
    }

    .headerBtn1 {
        width: 100%;
    }

    .headerBtn2 {
        width: 100%;
    }
}

/*BREAK*/

.whtRows {
    background-color: #ffffff;
    line-height: 22px;
}

.headText {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.9em;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

.treeRow {
    background:url(http://www.csszengarden.com/214/bamboo.png), url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/contours-opaque.png);
    background-color: #acd3bd;
    line-height: 22px;
}


.koiRow {
    background:url(http://www.csszengarden.com/214/koi.jpg), url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/contours-opaque.png);
/*    background-repeat: no-repeat;*/
    height: 250px;
}

.koiRowBodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    color: #99AEAA;
    text-align: center;
    padding-top: 9%;
}

.koiRowLink {
    font-style: normal;
    color: #CCD7D6;
}

.iconRow {
    background-color: #124C51;
    height: 125px;
}

.logoRowText {
    font-family: verdemoderna;
    text-align: center;
    font-size: 5em;
    padding-top: 2vh;
    color: #94ABAD;
}

.numLink3:after {
    content: "3";
}

.numLink3:hover:after {
    text-decoration: none;
    content: "#";
}

.numLink5:after {
    content: "5";
}

.numLink5:hover:after {
    text-decoration: none;
    content: "%";
}

.letterLink:hover {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

li {
    padding: 15px;
    border-bottom: 1px #AAC1B6 solid;
}

.col-xs-5 {
    border-top: 1px #AAC1B6 solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sideColAll {
    background-color: rgba(62, 87, 42, .18);
}

.themeLinkText {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.3em;
    color: #616857;
}

.nameLinks {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    color: #616857;
}

.by {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    font-style: italic;
    color: #C7D0CB;
}

@font-face {
    font-family: "verdemoderna";
    src: url(assets/verdemoderna.woff) format('woff');
}