/*         RESPONSIVE CSS BELOW         */
/* DESKTOPS & UP */
@media screen, (min-width: 992px) {
    .headerLogoImg {
        height: 150px;
        margin-top:12vh;
    }
    .headerRow {
        background: url(http://www.csszengarden.com/214/huntington.jpg);
        background-size: cover;
        height: 310px;
        background-repeat: no-repeat;
    }
    
    .headerCSSZen {
        font-family: Julius Sans One, sans-serif;
        color: #ffffff;
        font-size: 3em;
        height: 40px;
        margin-top: 12vh;
        text-align: left;
    }

    .headerBeautyOf {
        font-family: Libre Baskerville, sans-serif;
        font-style: italic;
        font-size: 1.5em;
        text-align: left;
        color: #A1BDBA;
        margin-top: .5vh;
        text-align: left;
    }
    
    .button {
        background-color: rgba(39, 105, 105, 0.5);
        opacity: .4;
        height: 50px;
        background-repeat:no-repeat;
        overflow: hidden;
        margin-top: 20vh;
        font-family: Julius Sans One, sans-serif;
        color: rgba(176, 198, 198, 1.0);
    }
}

/* TABLETS */
@media screen and (max-width: 991px), (min-width: 768px) {
    .headerLogoImg {
        height: 100px;
        margin-top:12vh;
    }
    
    .headerRow {
        background: url(http://www.csszengarden.com/214/huntington.jpg);
        background-size: cover;
        height: 310px;
        background-repeat: no-repeat;
    }
    
    .headerCSSZen {
        font-family: Julius Sans One, sans-serif;
        color: #ffffff;
        font-size: 3em;
        height: 40px;
        margin-top: vh;
        text-align: center;
    }

    .headerBeautyOf {
        font-family: Libre Baskerville, sans-serif;
        font-style: italic;
        font-size: 1.5em;
        text-align: left;
        color: #A1BDBA;
/*        margin-top: .2vh;*/
        text-align: center;
    }
    
    .button {
        background-color: rgba(39, 105, 105, 0.5);
        opacity: .4;
        height: 50px;
        background-repeat:no-repeat;
        overflow: hidden;
        margin-top: 20vh;
        font-family: Julius Sans One, sans-serif;
        color: rgba(176, 198, 198, 1.0);
    }
}

/* PHONES */
@media screen and (max-width: 767px) {
    .headerLogoImg {
        height: 50px;
        margin-top:1vh;
    }
    .headerRow {
        background: url(http://www.csszengarden.com/214/huntington.jpg);
        background-size: cover;
        height: 310px;
        background-repeat: no-repeat;
    }
    
    .headerCSSZen {
        font-family: Julius Sans One, sans-serif;
        color: #ffffff;
        font-size: 3em;
        height: 40px;
        margin-top: 16vh;
    }

    .headerBeautyOf {
        font-family: Libre Baskerville, sans-serif;
        font-style: italic;
        font-size: 1.5em;
        text-align: left;
        color: #A1BDBA;
        margin-top: .5vh;
    }
    
    .button {
        background-color: rgba(39, 105, 105, 0.5);
        opacity: .4;
        height: 50px;
        background-repeat:no-repeat;
        overflow: hidden;
        margin-top: 20vh;
        font-family: Julius Sans One, sans-serif;
        color: rgba(176, 198, 198, 1.0);
    }
}

/*         RESPONSIVE CSS ABOVE         */
/*         NO RESPONSIVE CSS BELOW      */


@font-face {
    font-family: "verdemoderna";
    src: url(assets/verdemoderna.woff) format('woff');
}

.italicCSS {
    font-style: italic;
}

.row2Col1 {
    background-color: #ffffff;
    line-height: 22px
}

.row2Col1BodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
}

.row2Col1Headers {
    font-family: Julius Sans One, sans-serif;
    font-size: 2.1em;
}

.row2Col2 {
    background-color: #E8EFEB;
    height: 100%;
}

.row2Col2Sect {
    vertical-align: middle;
    padding: 14px;
    padding-left: 15%;
}

.row2Col2ThemeLinks {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.3em;
    color: #616857;
}

.row2Col2NameLinks {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    color: #616857;
}

.row2Col2By {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
    font-style: italic;
    color: #C7D0CB;
}

.row3 {
    background:url(http://www.csszengarden.com/214/bamboo.png);
    background-color: #acd3bd;
}

.row3Col1 {
    
    line-height: 22px
}

.row3Col1BodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
}

.row3Col1Headers {
    font-family: Julius Sans One, sans-serif;
    font-size: 2.1em;
}

.row3Col2 {
    height: 100%;
}

.row3Col2Sect {
    vertical-align: middle;
    padding: 20px;
    padding-left: 15%;
}

.row3Col2Text {
    font-family: Julius Sans One, sans-serif;
    font-size: 1.3em;
    color: #616857;
}

.row4Col1 {
    background-color: #ffffff;
    line-height: 22px
}

.row4Col1BodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: .9em;
}

.row4Col1Headers {
    font-family: Julius Sans One, sans-serif;
    font-size: 2.1em;
}

.row4Col2 {
    background-color: #E8EFEB;
    height: 100%;
}

.row5 {
    background:url(http://www.csszengarden.com/214/koi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

.row5Col1BodyText {
    font-family: Libre Baskerville, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    color: #99AEAA;
    text-align: center;
    padding-top: 9%;
}

.row5Col1Link {
    font-style: normal;
    color: #CCD7D6;
}

.row6 {
    background-color: #124C51;
    height: 125px;
}

.row6Text {
    font-family: verdemoderna;
    text-align: center;
    font-size: 5em;
    padding-top: 3%;
    color: #94ABAD;
}

.letterLink:hover {
    text-transform: uppercase
}

.numLink3:hover {
    display:none;
}

.numLink3:hover:before {
    content:"#";
}

/*
.numLink5:hover {
    display:none;
}

.numLink5:hover:before {
    content:"%"
}*/
