.headCont {
    height: 275px;
    position: relative;
}

.headImg {
    height 275px;
    display: inline;
    z-index: -1;
}

.headBox1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.headBox2 {
/*    background-color: #0e4d4a;*/
}

.headText {
    font-family: Julius Sans One, sans-serif;
    color: #ffffff;
        
    }
}

.headSubText {
    font-family: Libre Baskerville, sans-serif;
    font-style: italic;
    color: #a1bdb8;
}

.btn {
    font-family: Julius Sans One, sans-serif;
}